{% extends "layout.twig" %}

{% block title %}Error{% endblock %}

{% block body %}

    <h1>Error 406: Not Acceptable</h1>
    <p>There was a problem with the data in the request.</p>

{% endblock %}